{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="navbar">
        <span class="main-title">HomeDrive</span>
        <form action="{{ url_for('auth.logout') }}" method="POST">
            <a href="{{ url_for('content.home') }}">
                <button type="button" class="upload-button">
                    Home
                </button>
            </a>
            <button class="logout-button" type="submit">
                Logout
            </button>
        </form>
    </div>
    <div class="main-container upload-container">
        <div class="upload-container">
            <form action="{{ url_for('files_operations.move_upload') }}" method="POST" enctype="multipart/form-data">
                <p>
                    <input type="text" id="file_name" name="file_name" placeholder="file name">
                </p>
                {% if can_upload %}
                    <input type="radio" id="shared_radio" name="space" value="shared" checked="checked"
                    onchange="showDirSelect(this.value);">
                    <label for="shared_radio">shared</label><br>
                {% endif %}

                {% if have_private_space %}
                    <input type="radio" id="private_radio" name="space" value="private" checked="checked"
                    onchange="showDirSelect(this.value);">
                    <label for="private_radio">private</label>
                    <br><br>

                    <label id="dirs_label" for="dirs">Choose a directory to upload file to:</label>
                    <p class="upload_dir_select">
                        <select name="dirs" id="dirs">
                            {% for dir in dirs %}
                                <option value="{{ dir }}" name="dir">{{ dir }}</option>
                            {% endfor %}
                        </select>
                    </p>
                {% endif %}
                <p>
                    <button id="finalize_button" class="action-button" type="submit">Finalize Upload</button>
                </p>
            </form>
        </div>
        <div>{{message}}</div>
    </div>
    <div class="footer">
    </div>
</div>
{% endblock %}
