<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='main.js') }}"></script>

        <title>HomeDrive - Private</title>
    </head>
    <body>
        <div class="delete-modal" id="delete-modal">
            <p id="delete-file-name"></p>
            <form method="GET" action="/main/operations_private" enctype="multipart/form-data">
                <button class="modal-delete-button" id="delete-modal-button" name="delete_file" type="submit">Yes</button>
                <button class="modal-close-button" onclick="closeDeleteModal();" type="button">No</button>
            </form>
        </div>
        <div class="container">
            <div class="navbar">
                <span class="main-title">HomeDrive - Private</span>
                <form action="/logout" method="POST">
                    <button type="button" class="upload-button">
                        <a href="{{ url_for('content.upload_view') }}">Upload</a>
                    </button>
                    <button class="logout-button" type="submit">Logout</button>
                </form>
            </div>
            <div class="mode-panel">
                <a href="{{ url_for('content.home') }}">Shared</a>
                {% if have_private_space %}
                    <a href="{{ url_for('content.private') }}">Private</a>
                {% endif %}
            </div>
            <div class="main-container">
                <form method="GET" action="/main/operations_private" enctype="multipart/form-data">
                    <p>
                        {%for file in files%}
                            <div class="item">
                                {{file}}
                                <span class="item-buttons">
                                    <button id="delete-button" class="delete-button" onclick="showDeleteModal(this.value);"
                                                value="{{file}}" name="delete_file_modal" type="button">Delete</button>
                                    <button class="download-button" value="{{file}}" name="download_file" type="submit">Download</button>
                                </span>
                            </div>
                        {%endfor%}
                    </p>
                </form>
            </div>
            <div class="footer">
                {{current_size}} / {{max_size}}
            </div>
        </div>
    </body>
</html>