<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='main.js') }}"></script>

        <title>HomeDrive - Private</title>
    </head>
    <body>
        <div class="delete-modal" id="delete-modal">
            <p id="delete-file-name"></p>
            <form method="GET" action="{{ url_for('content.operations_private') }}" enctype="multipart/form-data">
                <button class="modal-delete-button" id="delete-modal-button" name="delete_file" type="submit">Yes</button>
                <button class="modal-close-button" onclick="closeDeleteModal();" type="button">No</button>
            </form>
        </div>
        <div class="container">
            <div class="navbar">
                <span class="main-title">HomeDrive - Private</span>
                <form action="{{ url_for('auth.logout') }}" method="POST">
                    <button type="button" class="upload-button">
                        <a href="{{ url_for('content.new_directory_view') }}">Create Directory</a>
                    </button>
                    <button type="button" class="upload-button">
                        <a href="{{ url_for('content.upload_view') }}">Upload</a>
                    </button>
                    <button class="logout-button" type="submit">Logout</button>
                </form>
            </div>
            <div class="mode-panel">
                <a href="{{ url_for('content.home') }}">Shared</a>
                <a href="{{ url_for('content.private') }}">Private</a>
            </div>
            <div class="main-container">
                <form method="GET" action="{{ url_for('content.operations_private') }}" enctype="multipart/form-data">
                    {% for dir in dirs %}
                        <div class="item">
                            {{dir}}
                            <span class="item-buttons">
                                <button id="delete-dir-button" class="delete-button" onclick="showDeleteModal(this.value);"
                                            value="{{dir}}" name="delete_file_modal" type="button">Delete</button>
                                <button class="download-button" value="{{dir}}" name="browse_dir" type="submit">Enter</button>
                            </span>
                        </div>
                    {% endfor %}
                    {% for file in files %}
                        <div class="item">
                            {{file}}
                            <span class="item-buttons">
                                <button id="delete-file-button" class="delete-button" onclick="showDeleteModal(this.value);"
                                            value="{{file}}" name="delete_file_modal" type="button">Delete</button>
                                <button class="download-button" value="{{file}}" name="download_file" type="submit">Download</button>
                            </span>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="footer">
                {{current_size}} / {{max_size}}
            </div>
        </div>
    </body>
</html>