<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <title>HomeDrive</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <span class="main-title">HomeDrive</span>
            <form action="/logout" method="POST">
                <button type="button" class="upload-button">
                    <a href="{{ url_for('content.home') }}">Home</a>
                </button>
                <button class="logout-button" type="submit">Logout</button>
            </form>
        </div>
        <div class="main-container upload-container">
            <div class="upload-container">
            <form action="/main/upload" method="POST" enctype="multipart/form-data">
                <label for="file-upload" class="upload-file-label">Choose File</label>
                <input type="file" class="upload-file" value="File to be uploaded" id="file-upload" name="file-upload" onchange="getFileName(this);" />
                <p class="file-name">
                    <span id="file_name"></span>
                </p>

                {% if can_upload %}
                    <input type="radio" id="shared_radio" name="space" value="shared" checked="checked">
                    <label for="shared_radio">shared</label><br>
                {% endif %}

                {% if have_private_space %}
                    <input type="radio" id="private_radio" name="space" value="private">
                    <label for="private_radio">private</label><br><br>
                {% endif %}

                <p>
                    <button id="upload_button" class="upload-file-button" type="submit">Upload</button>
                </p>
            </form>
            <p>{{message}}</p>
        </div>
        </div>
        <div class="footer">
            {{current_size}} / {{max_size}}
        </div>
    </div>
</body>
</html>