{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="navbar">
            <span class="main-title">HomeDrive</span>
            <form action="{{ url_for('auth.logout') }}" method="POST">
                <a href="{{ url_for('content.home') }}">
                    <button type="button" class="upload-button">
                        Home
                    </button>
                </a>
                <button class="logout-button" type="submit">
                    Logout
                </button>
            </form>
        </div>
        <div class="main-container upload-container">
            <div class="upload-container">
                <form action="{{ url_for('files_operations.upload') }}" method="POST" enctype="multipart/form-data">
                    <label for="file-upload" class="upload-file-label">Choose File</label>
                    <input type="file" class="upload-file" value="File to be uploaded" id="file-upload"
                           name="file-upload" onchange="getFileName(this);" />
                    <p class="file-name">
                        <span id="file_name"></span>
                    </p>
                    <p>
                        <button id="upload_button" class="upload-file-button" type="button" onclick="asyncSendFile('{{ url_for('files_operations.upload') }}',
                                                                                                                   '{{ url_for('files_operations.finalize_upload') }}')">
                            Upload
                        </button>
                    </p>
                </form>
                <div class="upload-progress-container" id="upload-progress-container">
                    <label for="upload-progress">Upload progress:</label>
                    <progress id="upload-progress" value="0" max="100"></progress>
                </div>
                <p id="upload-message">
                    {{message}}
                </p>
            </div>
        </div>
        <div class="footer">
            {{current_size}} / {{max_size}}
        </div>
    </div>
{% endblock %}
